body, html {
    min-height: 100vh;
}

#loading {
    background: url("https://loading.io/spinners/rolling/lg.curve-bars-loading-indicator.gif") no-repeat scroll center center #FFF;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.red {
    background-image: url(https://images.unsplash.com/photo-1505163283257-f1cc16f10129?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b87aa1b75746bd1247d519a36f095c62&auto=format&fit=crop&w=1489&q=80);
    background-size: cover;
}

.blue {
    background-image: url(https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=62a77bae48158b98b0acdf9fa674410e&auto=format&fit=crop&w=1500&q=80);
    background-size: cover;
}

.page {
    height: 100vh;
}

#outer {
    height: 100%;
}
