{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="card m-5 pl-2 pr-2">
            <div class="d-flex justify-content-between align-items-baseline ml-3 mt-3 mr-3">
                <h1>List of Books</h1>
                <p>Number of Favorites = <span id="counter">0</span></p>
            </div>
            <div class="container-fluid">
                <div class="row mt-3 mb-3">
                    <input class="col-md-10 form-control" type="searchfield" name="search" placeholder="Search Here">
                    <button class="col-md-2 btn btn-primary" id="search" type="submit">Search<i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="container-fluid">

                <table class="table table-striped table-responsive-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Cover</th>
                            <th scope="col">Name</th>
                            <th scope="col">Favorites</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock content %}