{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Apa Kabar ?</title>
    <meta name="author" content="Ferro">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        html, body {
            height: 100vh;
            width: 100vw;
        }
    </style>
</head>
<body>
    <div id="outer" class="h-100 w-100 bg-dark">
        <div id="inner" class="container-fluid w-75 pt-5 text-white">
            <h1>Hello, Apa kabar?</h1>
            <form method="POST" action="add-status">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="mt-3 mb-3 btn btn-primary mybtn">Submit</button> 
            </form>
            <ul class="list-group">
                {% for status in statuses %}
                <li class="list-group-item text-dark">{{ status.message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>