{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Profileq</title>
  <meta name="author" content="Ferro">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'light.css' %}">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'jsq.js' %}"></script>
</head>
<body class="blue">
  <div id="loading"></div>
  <div class="page container">
    <div class="page row">
      <div class="p-0 col-md-6 d-flex justify-content-center align-items-center h-100">
        <div class="card w-100 p-3">
          <h1>Hello, Its me again</h1>
          <div class="media">
            <img class="mr-3" src="https://scontent-lga3-1.cdninstagram.com/vp/4efd9c3b338b825c962d6221224d670d/5BFCBF73/t51.2885-19/s150x150/34169672_251895205561700_4230271847138066432_n.jpg" alt="Its Me!">
            <div class="media-body">
              <p>Name : Ferro Geraldi Hardian</p>
              <p>NPM  : 1706028612</p>
              <p>Kelas : PPW-A</p>
              <button id="change" class="btn btn-primary">Change Theme</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <ul class="list-group accordion m-3 w-100">
          <div class="list-group-item header d-flex justify-content-between">
            <h5>Current Activity</h5>
            <h5><i class="fa fa-angle-down"></i></h5>
          </div>
          <div class="list-group-item accordion-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Studying PPW, SDA, etc in University of Indonesia</li>
              <li class="list-group-item">Trying my hardest at life</li>
            </ul>
          </div>
          <div class="list-group-item header d-flex justify-content-between">
            <h5>Organization Experiences</h5>
            <h5><i class="fa fa-angle-down"></i></h5>
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">Staff at DPM Fasilkom UI</li>
              <li class="list-group-item">..... yes, only that thank you</li>
            </ul>
          <div class="list-group-item header d-flex justify-content-between">
            <h5>Achievements</h5>
            <h5><i class="fa fa-angle-down"></i></h5>
          </div>
          <div class="list-group-item accordion-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Silver Medal OSN 2015</li>
              <li class="list-group-item">Bronze Medal OSN 2016</li>
              <li class="list-group-item">Admittance to University of Indonesia, yey</li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</body>